// Reset styling
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #032ea1;
}

.nav-logo {
  img {
    height: 8vh;
    margin: 0 2rem;
    border-radius: 50%;
  }
}

.nav-items {
  width: 50%;
  ul {
    display: flex;
    height: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 0rem 3rem;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 80vh;
  background-color: #e00025;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 2.5rem;
  h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    max-width: 45ch;
  }
  button {
    font-size: 1.5rem;
    border: none;
    color: #000;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 65%;
    border-radius: 5rem;
    border: 0.5rem solid #fff;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-right img {
    width: 50%;
  }
}

.white {
  background-color: #032ea1;
  min-height: 10vh;
}
