// Reset styling
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: #255799;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
  }
  p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    max-width: 45ch;
  }
  button {
    border: none;
    color: #002244;
    background-color: #fecc07;
    border-radius: 1rem;
    padding: 1rem 2rem;
    cursor: pointer;
    &:hover {
      background-color: #f0ab00;
    }
  }
}

.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 65%;
    border-radius: 5rem;
    border: 0.5rem solid #fff;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
  }
}
